# Build results
[Bb]uild/

# Sessions
.vs/

# Windows
desktop.ini

# Libraries
[Ll]ib/

# Misc
Properties
compile.bat
/Builds/Debug
/Libraries
/obj/Debug
/packages/System.Text.RegularExpressions.4.3.1
/packages/System.IO.Compression.4.3.0
/obj
/bin/Debug/netstandard2.0
